DIV.tabs
{
   float            : left;
   width            : 100%;
   background       : none;
   background-image : none !important; 
   margin-bottom    : 4px;
   border-bottom    : 2px solid maroon !important;
}

DIV.tabs UL
{
   margin           : 0px;
   padding-left     : 10px;
   list-style       : none;
   border-bottom    : 2px solid maroon !important;
}

DIV.tabs LI, DIV.tabs FORM
{
   display          : inline;
   margin           : 0px;
   padding          : 0px;
   border-bottom    : 2px solid maroon !important;
}

DIV.tabs FORM
{
   float            : right;
}

DIV.tabs A
{
   float            : left;
   background       : none !important;
   font-size        : x-small;
   font-weight      : bold;
   text-decoration  : none;
   border-bottom    : 0px solid maroon !important;
}

DIV.tabs A:hover
{
   background-position: 100% -150px;
}

DIV.tabs A:link, DIV.tabs A:visited,
DIV.tabs A:active, DIV.tabs A:hover
{
   color:black;
}

DIV.tabs SPAN
{
   float            : left;
   background       : none !important;
   display          : block;
   padding          : 5px 9px;
   white-space      : nowrap;
   color:black;
}

DIV.tabs INPUT
{
   float            : right;
   display          : inline;
   font-size        : 1em;
   border-bottom    : 2px solid maroon !important;
}

DIV.tabs TD
{
   font-size        : x-small;
   font-weight      : bold;
   text-decoration  : none;
   border-bottom    : 2px solid maroon !important;
}



/* Commented Backslash Hack hides rule from IE5-Mac \*/
DIV.tabs SPAN {float : none;}
/* End IE5-Mac hack */

DIV.tabs A:hover SPAN
{
   background-position: 0% -150px;
   color:red;
}

DIV.tabs LI#current A
{
   background-position: 100% -150px;
   border-width     : 0px;
}

DIV.tabs LI#current SPAN
{
   background-position: 0% -150px;
   padding-bottom   : 6px;
   color:maroon;
}

DIV.nav
{
   background       : none;
   border           : none;
   border-bottom    : 1px solid maroon !important;
}

body {
	background-color: #F0FFF0;  
	color: Black; 
	border: 0px; 
	margin: 0px; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-left: 25px;
	width: 55em;
}
h1 {
	font-family: Georgia, Times New Roman, Serif;
	font-size: 2.8em;
	font-style: Italic;
	padding: 0.5em;
	margin: 0.5em;
	color: #556B2F;
}
h2 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 2em;
	color: #2F6A44;
	background-color: transparent;
	border-bottom: 1px solid #2F6A44;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Sans-serif;
	font-style: italic;
	color: #2F6A44;
}
p {
	font-size: 0.9em;
}
.title-header{
	text-align: left;
	font-size: 0.7em;
	color: Gray;
}
a { 
	color: #556B2F;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid black;
}
#navigation-bar {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 0.9em; 
	border-bottom: 1px solid green; 
	border-top:1px solid green;
	padding-top: 10px; 
	padding-bottom: 10px; 
	padding-left: 50px;
	padding-right: 50px;  
	background-color: #FAFAD2;  
	color: #2F4F4F;  
	white-space: nowrap;
}
#navigation-bar a {
	color: Maroon; 
	border: none;
	text-decoration: none; 
	background-color: transparent;
}
#navigation-bar a:hover {
	border: none;
	text-decoration: underline;
}
#top-container {
	position: absolute;
	display: inline; 
	margin-top: 1em;
}
#menu a{
	text-decoration: none;
	background-color: #F0FFF0;
	font-weight: bold; 
	display: block; 
	color: #556B2F;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
 	margin-left: 10px;
	width: 13em;
}
#marge {
	text-decoration: none;
	text-align:center;
	border-left: 1px solid #2F4F4F;
	border-right: 1px solid #2F4F4F;
	background-color: #F0FFF0;
	font-weight: normal; 
	width: 20em;
	color: Black;
	padding: 2px;
	position:absolute;
	left: 17em;
	top: 12em;
}

#marge a{
        text-decoration: underline;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	font-weight: normal; 
	font-style: italic; 
	color: maroon;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#menu a:hover {
	background-color: #6B8E23;
	color: White;
	border: 1px solid #2F4F4F;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#marge a:hover{
	text-decoration: underline;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	font-weight: italic; 
	color: red;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#logos {
	text-decoration: none;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	font-weight: normal; 
	width: 13em;
	color: Black;
	padding: 2px;
	position:absolute;
	right: 3em;
	top: 12em;
}

#logos a{
        text-decoration: underline;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	font-weight: normal; 
	font-style: italic; 
	color: maroon;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#logos a:hover{
	text-decoration: underline;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	font-weight: italic; 
	color: red;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}
#body {
	position: relative;
	margin-top: 1em;
	right: 3em;
	padding: none;
	padding-left: 1em;
	width: 55em;
	text-decoration: none;
}
#footer {
	border: 1px solid green;
	background-color: #FAFAD2;
	color: #2F4F4F;
	padding: 3px;
	white-space: nowrap;
	margin-bottom: 1em;
	text-align: left;
	vertical-align: middle;
}
#footer-text {
	font-size: 0.7em;
	text-align: left;
	vertical-align: middle;
}
img {
	margin: 0;
	padding: 0;
}
.logo-img {
	width: 88px;
	margin: 0;
	padding: 0;
	padding-left: 3px;
}

