body {margin: 0} 
BODY,H1,H2,H3,H4,H5,H6,P,CENTER,TD,TH,UL,DL,DIV {
	font-family: Geneva, Arial, Helvetica, sans-serif;font-size:small;
}

H1 {
	text-align: center;
       font-size: 160%;
}
H2 {
       font-size: 120%;
}
H3 {
       font-size: 100%;
}
h1 {
  color: #556B2F;
  font-family: serif;
  font-size: x-large;
  font-weight: bold;
  padding: 2px;
  text-align: center;
  margin-top: 15px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2em;
} 

h2 {
  text-align: left;
  vertical-align: top;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom:5px;
  padding-bottom: 2px;
  font-size: large !important;
  background-color: transparent;
  color: #2F6A44 ;
  text-decoration: none;
}

h3 {
  color: #2F6A44;
  text-align: left;
  vertical-align: top;
  font-weight: bold;
  margin-top: 0.8em;
  margin-bottom:0.1em;
  padding-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: medium;
}
h4 {
  padding-left: 15px;
  color: black !important;
  font-weight: normal;
  font-size: small;
}

CAPTION { font-weight: bold }
DIV.qindex {
	width: 100%;
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
DIV.nav {
	width: 100%;
	background-color: #e8eef2;
	border: 1px solid #84b0c7;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}
DIV.navtab {
       background-color: #e8eef2;
       border: 1px solid #84b0c7;
       text-align: center;
       margin: 2px;
       margin-right: 15px;
       padding: 2px;
}
TD.navtab {
       font-size: 70%;
}
A.qindex {
       text-decoration: none;
       font-weight: bold;
       color: #1A419D;
}
A.qindex:visited {
       text-decoration: none;
       font-weight: bold;
       color: #1A419D
}
A.qindex:hover {
	text-decoration: none;
	background-color: #ddddff;
}
A.qindexHL {
	text-decoration: none;
	font-weight: bold;
	background-color: #6666cc;
	color: #ffffff;
	border: 1px double #9295C2;
}
A.qindexHL:hover {
	text-decoration: none;
	background-color: #6666cc;
	color: #ffffff;
}
A.qindexHL:visited { text-decoration: none; background-color: #6666cc; color: #ffffff }
A.code
{
position:relative;
text-decoration: none !important;
}
A.code:link 
{ 
text-decoration: none !important;
font-weight: normal;
color: #0000FF;
}
A.code:visited 
{ 
text-decoration: none !important; 
font-weight: normal;
color: #0000FF
}
A.codeRef:link { font-weight: normal; color: #0000FF;}
A.codeRef:visited { font-weight: normal; color: #0000FF;}
A:hover { text-decoration: none; background-color: #f2f2ff ;}
DL.el 
{ margin-left: -1cm ;
font-weight:normal !important;
}
.fragment {
       font-family: monospace, fixed;
       font-size: 40pt;
	font-weight: normal;
width: 100%;
}
PRE.fragment {
       font-size: small;
	font-weight: normal !important;
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
width: 100%;
}
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }

DIV.groupHeader {
       margin-left: 16px;
       margin-top: 12px;
       margin-bottom: 6px;
       font-weight: bold;
}
DIV.groupText { margin-left: 16px; font-style: italic; font-size: 90% }

body {
	background-color: #F0FFF0;  
	color: Black; 
	border: 0px; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-left: 25px;
	width: 90%;
	}

TD.indexkey {
	background-color: #e8eef2;
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TD.indexvalue {
	background-color: #e8eef2;
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TR.memlist {
   background-color: #f0f0f0; 
}

/** Highlight for code **/ 

P.formulaDsp { text-align: center;}
IMG.formulaDsp {}
IMG.formulaInl { vertical-align: middle;}
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }

/** end of code environment **/ 

.mdescLeft {
       padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #FAFAFA;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}
.mdescRight {
       padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #FAFAFA;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}
.memItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memTemplItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memTemplItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memTemplParams {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
       color: #606060;
	background-color: #FAFAFA;
	font-size: 80%;
}
.search     { color: #003399;
              font-weight: bold;
}
FORM.search {
              margin-bottom: 0px;
              margin-top: 0px;
}
INPUT.search { font-size: 75%;
               color: #000080;
               font-weight: normal;
               background-color: #e8eef2;
}

TD.tiny      { font-size: 75%;
}
a { 
 color: #556B2F;
 background-color: transparent;
 text-decoration: none;
}
a:link { 
  text-decoration : none;
 background-color: transparent;
}

a:visited { 
  text-decoration : none;
 background-color: transparent;
}

a:active {
 background-color: transparent;
}

a:hover { 
  text-decoration: underline;
 background-color: transparent;
}
.dirtab { padding: 4px;
          border-collapse: collapse;
          border: 1px solid #84b0c7;
}
TH.dirtab { background: #e8eef2;
            font-weight: bold;
}
HR { height: 1px;
     border: none;
     border-top: 1px solid black;
}

/* Style for detailed member documentation */
.memtemplate {
  font-size: 80%;
  color: #606060;
  font-weight: normal;
} 
.memnav { 
  background-color: #e8eef2;
  border: 1px solid #84b0c7;
  text-align: center;
  margin: 2px;
  padding: 2px;
}
.memitem {
  padding: 4px;
  background-color: #eef3f5;
  border-width: 1px;
  border-style: solid;
  border-color: #dedeee;
}

.memname {
  white-space: nowrap;
  font-weight: bold;
}
.memdoc{
  padding-left: 10px;
}
.memproto {
  background-color: #d5e1e8;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #84b0c7;
  font-weight: bold;
}
.paramkey {
  text-align: right;
}
.paramtype {
  white-space: nowrap;
}
.paramname {
  color: #602020;
  font-style: italic;
  white-space: nowrap;
}
/* End Styling for detailed member documentation */

DIV.tabs
{
   float            : left;
   width            : 100%;
   background       : none;
   background-image : none !important; 
   margin-bottom    : 4px;
   border-bottom    : 2px solid maroon !important;
}

DIV.tabs UL
{
   margin           : 0px;
   padding-left     : 10px;
   list-style       : none;
   border-bottom    : 2px solid maroon !important;
}

DIV.tabs LI, DIV.tabs FORM
{
   display          : inline;
   margin           : 0px;
   padding          : 0px;
   border-bottom    : 2px solid maroon !important;
}

DIV.tabs FORM
{
   float            : right;
}

DIV.tabs A
{
   float            : left;
   background       : none !important;
   font-size        : x-small;
   font-weight      : bold;
   text-decoration  : none;
   border-bottom    : 0px solid maroon !important;
}

DIV.tabs A:hover
{
   background-position: 100% -150px;
}

DIV.tabs A:link, DIV.tabs A:visited,
DIV.tabs A:active, DIV.tabs A:hover
{
   color:black;
}

DIV.tabs SPAN
{
   float            : left;
   background       : none !important;
   display          : block;
   padding          : 5px 9px;
   white-space      : nowrap;
   color:black;
}

DIV.tabs INPUT
{
   float            : right;
   display          : inline;
   font-size        : 1em;
   border-bottom    : 2px solid maroon !important;
}

DIV.tabs TD
{
   font-size        : x-small;
   font-weight      : bold;
   text-decoration  : none;
   border-bottom    : 2px solid maroon !important;
}



/* Commented Backslash Hack hides rule from IE5-Mac \*/
DIV.tabs SPAN {float : none;}
/* End IE5-Mac hack */

DIV.tabs A:hover SPAN
{
   background-position: 0% -150px;
   color:red;
}

DIV.tabs LI#current A
{
   background-position: 100% -150px;
   border-width     : 0px;
}

DIV.tabs LI#current SPAN
{
   background-position: 0% -150px;
   padding-bottom   : 6px;
   color:maroon;
}

DIV.nav
{
   background       : none;
   border           : none;
}


/**********************************************************************
 Links
*/


div.title_links { text-align: left }

/**********************************************************************
 Body text
*/

body {
  margin-left: 1em;
  margin-right: 1em;
  font-size:small;}

div.question {
  margin-top: 1em;
  font-weight: bold ; 
}

div.answer {
  color: black;
  margin-left: 3em;
}

img {
  border: 0em;
}

div.modified { 
  margin-top: 2em ;
  color : #999999 ; 
  font-style: italic ;
  text-align: left ;
  font-size: 12px ;
  }


/*  */
th.sectiontitle {background-color : #FFFFFF ; color : #1a750c}

/*  */
th.subsectiontitle {color: #FFA34F; font-size: 11px; font-weight : bold; background-color: #1a750c; height: 25px;}

/*  */
table.sectiontable {background-color : #FFFFFF;}

/*  */
table.subsectiontable {background-color: #FFFFFF ; border: 0px #1a750c solid;}

/*  */
table.elements {background-color: #FFFFFF ;}

/*  */
th.subsectiontitle a:link {color: #FFA34F; font-size: 11px; font-weight : bold; background-color: #1a750c; height: 25px;}

/*  */
th.subsectiontitle a:visited {color: #FFA34F; font-size: 11px; font-weight : bold; background-color: #1a750c; height: 25px;}

/*  */
td.row3 {vertical-align: top ; background-color: #EFEFEF; padding-left: 2px ; padding-right: 2px ;padding-bottom: 2px;}

/*  */
td.row1 {vertical-align: top ; background-color: #efe9da; padding-left: 2px ; padding-right: 2px; padding-bottom: 2px;}

/*  */
td.row2 {vertical-align: top ; background-color: #f4f1eb; padding-left: 2px ; padding-right: 2px; padding-bottom: 2px;}

/* Menu */

* td.menu {
  text-align: left;
  vertical-align: top;
  background-color: #0080c0;
  color: #ffffff;
  font-weight: bold;
  margin-top: 2.5em;
  margin-bottom:1em;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
}

* td.menu a:link { 
  color: White; 
  text-decoration : underline;
}

* td.menu a:visited { 
  color: White; 
  text-decoration : underline;
}

* td.menu a:active {
  color: white;
  background-color: Red;
}

* td.menu a:hover { 
  text-decoration: underline;
  color: white;
  background-color: Red;
}


/*  */
img {border: 0}


/* Dates. */
.date {color : #666666 ; font-size: 10px}

/* FAQs */

div.question {
  margin-top: 1em;
  font-weight: bold ; 
  color: #0080c0 ;
}

div.answer {
  color: black;
  margin-left: 3em;
}


.title-header{
	text-align: left;
	font-size: small;
	color: Gray;
}
#navigation-bar {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: small; 
	border-bottom: 1px solid green; 
	border-top:1px solid green;
	padding-top: 10px; 
	padding-bottom: 10px; 
	padding-left: 50px;
	padding-right: 50px;  
	background-color: #FAFAD2;  
	color: #2F4F4F;  
	white-space: nowrap;
}
#navigation-bar a {
	color: Maroon; 
	background-color: #FAFAD2;  
	border: none;
	text-decoration: none; 
}

#navigation-bar a:hover {
	border: none;
	text-decoration: underline;
}

/* For Top of the main page: menu + logos */
#top-container {
	position: absolute;
	display: inline; 
        width: 90%;
	top: 10em;
}
#menu a{
	text-decoration: none;
	background-color: #F0FFF0;
	font-weight: bold; 
	font-size: medium;
	display: block; 
	color: #556B2F;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
 	margin-left: 10px;
	width: 15%;
	top: 15em;
}
#marge {
	text-decoration: none;
	text-align:center;
	border-left: 1px solid #2F4F4F;
	border-right: 1px solid #2F4F4F;
	background-color: #F0FFF0;
	font-weight: normal; 
	width: 60%;
	color: Black;
	padding: 2px;
	position:absolute;
	left: 18%;
	top: 8em;
}

#marge a{
        text-decoration: underline;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	font-style: italic; 
	color: maroon;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#menu a:hover {
	background-color: #6B8E23;
	color: White;
	border: 1px solid #2F4F4F;
	padding: 2px;
}

#marge a:hover{
	text-decoration: underline;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	color: red;
}

#logos {
	text-decoration: none;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	font-weight: normal; 
	width: 15%;
	color: Black;
	padding: 2px;
	position:absolute;
	left: 80%;
	top: 8em;
}

#logos a{
        text-decoration: underline;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	font-weight: normal; 
	font-style: italic; 
	color: maroon;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#logos a:hover{
	text-decoration: underline;
	border: 0px solid #2F4F4F;
	background-color: #F0FFF0;
	color: red;
}
/*** end of top page **/

#footer {
	border: 1px solid green;
	background-color: #FAFAD2;
	color: #2F4F4F;
	padding: 3px;
	white-space: nowrap;
	margin-bottom: 1em;
	text-align: left;
	vertical-align: middle;
}
#footer-text {
	font-size: 0.7em;
	text-align: left;
	vertical-align: middle;
}
img {
	margin: 0;
	padding: 0;
}
.logo-img {
	width: 88px;
	margin: 0;
	padding: 0;
}

/* for the tree view */
.ftvtree {
	font-family: sans-serif;
	margin:0.5em;
}
.directory { font-size: 9pt; font-weight: bold; }
.directory h3 { margin: 0px; font-size: 11pt; }
.directory > h3 { margin-top: 0; }
.directory p { margin: 0px; white-space: nowrap; }
.directory div { display: none; margin: 0px; }
.directory img { vertical-align: -30%; }
