

/* MODIFICATIONS-START-HERE */

div#navrow1 { 
    vertical-align: middle;
    float: left;     
}

div#navrow2 { 
    float: left;     
	background-color: ##ee;
	border: 1px solid ##b0;
	text-align: left;
}

.siconoscontainer {
    background-color: white;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    overflow: auto;
    border: #BBBBBB solid 1px;
}

.siconosheader {
    margin:0.0em;
    padding:2.0em;
    overflow: auto;
    border-bottom: 1px solid #f0e9eb;
}
.siconosfooter 
{
 border-top : 1px solid #f0e9eb;
 #padding : 10px 15px;
 clear : both;
 margin:0.5em;
 padding:0.3em;
 overflow: auto;
}

.siconostitle1 {
    font-size: 400%;
    background-color: white;
    color: #909090;
    float: none;
}
.siconostitle2 {
    font-size: 150%;
    background-color: white;
    color: #909090;
    float: left;
}
.left {
    float: left;
    width: 14%;
    overflow: auto;
}

.siconosnavig { 
    text-align:left;
    float: left;
    width: 100%;
    overflow: auto;
}

.siconosnavig h3 {
    font-style: normal;
    color: #909090;
}

.mainnavig { 
    border:1px solid #BBBBBB;
    margin:0.5em;
    padding:0.3em;
}

.docnavig { 
    border:1px solid #BBBBBB;
    margin:0.5em;
    padding:0.3em;
}

.linksnavig { 
    border:1px solid #BBBBBB;
    margin:0.5em;
    padding:0.3em;
}

.siconoscontent {
    float: left;
    width: 82%;
    overflow: auto;
    border: #BBBBBB solid 1px;
    margin:0.5em;
}


.right { 
    float: right;
}

.contact {
    text-align: left;
    color: #B0B0B0;
    padding: 1em;
}

.logoleft { 
    float: right;
    text-align: right;
}

.logoright { 
    text-align: right;
    float: right;
}

.subheader {
    margin:0.5em;
    padding:0.3em;
    background-color:white;
    border:1px solid #BBBBBB;
    clear:both;
}

.subsiconosnavig {
}

.siconosnavig ul { 
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

.siconosnavig ul li { 
    padding: 10px;
}

.siconosnavig ul li:hover { 
    background-color: #CCCCCC;
}


.siconosnavig a { 

}


#top {
    height: 50px;
    padding: .3em;
    font-weight: bold;
}

#top ul {
    margin: 0;
    padding: 0;
}

#top ul li {
    display: inline;
}

#top ul li a {
    padding: 15px 15px 15px 15px;
    float: left;
}


h1, h2, h3 { 
   background-color: white; 
}

h1 { 
    text-align: left;
}

.navigation { 
    border: #BBBBBB solid 1px;
}

body, table, div, p, dl {
    overflow: auto;
    font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
    font-size: 16px;
}


a { 
    color: #333333;
}

a:hover {
    text-decoration: none;
    background-color: #CCCCCC;
}

.contents a:visited {
    color:#333366;
}


.address {
    font-size: small;
    background-color:white;
    clear:both;
    float: none;
}

body {
    background-color: #EEEEEE;
    color: #333333;

}

.fragment {
    font-size: 100%;
}


div { 
    display: block;
}

a img:hover {
    color: white;
    background-color: white;
    opacity:0.4;
}
