BODY,H1,H2,H3,H4,H5,H6,P,CENTER,TD,TH,UL,DL,DIV {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:small;
}

body {
	margin:0;
	background-color: #F0FFF0;  
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-left: 25px;
	font-size:small;
}
/** Titles **/

h1 {
	/**color: #556B2F;**/
	color: #2F6A44;
	font-family: serif;
	font-size: x-large;
	font-weight: bold;
	padding: 2px;
	text-align: center;
	margin-top: 20px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 20px;
}
h2 {
  color: #2F6A44 ;
  font-size: large ;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom:10px;
  padding-bottom: 2px;
}
h3 {
  color: #2F6A44;
  font-size: medium;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  margin-top: 0.8em;
  margin-bottom:0.1em;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
h4 {
  color: #2F6A44 ;
  font-size: small;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  margin-top: 0.8em;
  margin-bottom:0.1em;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/** Doxygen utilities (from doxygen.css) **/ 

/** class list, alphabetical index **/

CAPTION { font-weight: bold }
DIV.qindex {
	width: 100%;
	background-color: #e8eef2;
	border: 1px solid #2F6A44;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
}

/** Navigation bar **/

DIV.nav {
	width: 100%;
	text-align: center;
	margin: 2px;
	padding: 2px;
	line-height: 140%;
	border-top:1px solid green;
	border-bottom:1px solid green;
}
DIV.navtab {
       background-color: #e8eef2;
       border: 1px solid #84b0c7;
       text-align: center;
       margin: 2px;
       margin-right: 15px;
       padding: 2px;
}
TD.navtab {
       font-size: 70%;
}

A.qindex {
       text-decoration: none;
       font-weight: bold;
       color:#2F6A44 ;
}

A.qindex:visited {
       text-decoration: none;
       font-weight: bold;
       color: #1A419D
}
A.qindex:hover {
	text-decoration: none;
	background-color: #ddddff;
}
A.qindexHL {
	text-decoration: none;
	font-weight: bold;
	background-color: #6666cc;
	color: #ffffff;
	border: 1px double #9295C2;
}
A.qindexHL:hover {
	text-decoration: none;
	background-color: #6666cc;
	color: #ffffff;
}
A.qindexHL:visited {
 text-decoration: none; 
 background-color: #6666cc; 
 color: #ffffff }

/** list of classes **/

A.el { 
	text-decoration: none; 
	font-weight: bold; 
}
A.elRef { font-weight: bold }

/** Links **/

a {
 color: #2F6A44;
 background-color: transparent;
 text-decoration: none;
}

a:link { 
  text-decoration : none;
 background-color: transparent;
}

a:visited {color: #2A3798;}

a:hover { text-decoration: underline;}

/** Code insertion **/ 

A.code
{
position:relative;
text-decoration: none !important;
}

A.code:link 
{ 
text-decoration: none !important;
font-weight: normal;
color: #0000FF;
}
A.code:visited 
{ 
text-decoration: none !important; 
font-weight: normal;
color: #0000FF
}
A.codeRef:link { 
font-weight: normal; 
color: #0000FF;}
A.codeRef:visited {
font-weight: normal; 
color: #0000FF;}
.fragment {
       font-family: monospace, fixed;
       font-size: 40pt;
}
PRE.fragment {
       font-size: small;
	font-weight: normal !important;
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 95%;
}
/** Highlight for code **/ 

P.formulaDsp { text-align: center;}
IMG.formulaDsp {}
IMG.formulaInl { vertical-align: middle;}
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }

/** end of code environment **/ 

DL.el 
{ margin-left: -1cm ;
font-weight:normal !important;
}

DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }

DIV.groupHeader {
       margin-left: 16px;
       margin-top: 12px;
       margin-bottom: 6px;
       font-weight: bold;
}
DIV.groupText { margin-left: 16px; font-style: italic; font-size: 90% }


TD.indexkey {
	background-color: #e8eef2;
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TD.indexvalue {
	background-color: #e8eef2;
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0px;
	margin-right   : 0px;
	margin-top     : 2px;
	margin-bottom  : 2px;
	border: 1px solid #CCCCCC;
}
TR.memlist {
   background-color: #f0f0f0; 
}


.mdescLeft {
       padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #FAFAFA;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}
.mdescRight {
       padding: 0px 8px 4px 8px;
	font-size: 80%;
	font-style: italic;
	background-color: #FAFAFA;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0px;
}
.memItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memTemplItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memTemplItemRight {
	padding: 1px 8px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FAFAFA;
	font-size: 80%;
}
.memTemplParams {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
	border-left-color: #E0E0E0;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
       color: #606060;
	background-color: #FAFAFA;
	font-size: 80%;
}
.search     { color: #003399;
              font-weight: bold;
}
FORM.search {
              margin-bottom: 0px;
              margin-top: 0px;
}
INPUT.search { font-size: 75%;
               color: #000080;
               font-weight: normal;
               background-color: #e8eef2;
}

TD.tiny      { font-size: 75%;
}
.dirtab { padding: 4px;
          border-collapse: collapse;
          border: 1px solid #84b0c7;
}
TH.dirtab { background: #e8eef2;
            font-weight: bold;
}
HR { height: 1px;
     border: none;
     border-top: 1px solid black;
}

/* Style for detailed member documentation */
.memtemplate {
  font-size: 80%;
  color: #606060;
  font-weight: normal;
} 
.memnav { 
  background-color: #e8eef2;
  border: 1px solid #84b0c7;
  text-align: center;
  margin: 2px;
  padding: 2px;
}
.memitem {
  padding: 4px;
  background-color: #eef3f5;
  border-width: 1px;
  border-style: solid;
  border-color: #dedeee;
}

.memname {
  white-space: nowrap;
  font-weight: bold;
}
.memdoc{
  padding-left: 10px;
}
.memproto {
  background-color: #d5e1e8;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #84b0c7;
  font-weight: bold;
}
.paramkey {
  text-align: right;
}
.paramtype {
  white-space: nowrap;
}
.paramname {
  color: #602020;
  font-style: italic;
  white-space: nowrap;
}
/* End Styling for detailed member documentation */

DIV.tabs
{
   float            : left;
   width            : 95%;
   background       : none;
   background-image : none !important; 
   margin-bottom    : 10px;
   border-bottom    : 1px solid #2F6A44 !important;
}

DIV.tabs UL
{
   margin           : 0px;
   padding-left     : 5px;
   list-style       : none;
   border-bottom    : 1px solid #2F6A44 !important;
}

DIV.tabs LI, DIV.tabs FORM
{
   display          : inline;
   margin           : 0px;
   padding          : 0px;
   border-bottom    : 0px solid #2F6A44 !important;
   padding-bottom   : 6px;
}


DIV.tabs FORM
{
   float            : right;
}

DIV.tabs A
{
   float            : left;
   background       : none !important;
   font-size        : x-small;
   text-decoration  : none;
   border-bottom    : 0px solid #2F6A44 !important;
}

DIV.tabs A:hover
{
   background-position: 100% -150px;
}

DIV.tabs A:link, DIV.tabs A:visited,
DIV.tabs A:active, DIV.tabs A:hover
{
   color:#2F6A44;
}

DIV.tabs SPAN
{
   float            : left;
   background       : none !important;
   display          : block;
   padding          : 5px 9px;
   white-space      : nowrap;
   color:#2F6A44;
}

DIV.tabs INPUT
{ 
   float            : right;
   display          : inline;
   font-size        : 1em;
   border-bottom    : 2px solid #2F6A44 !important;
}

DIV.tabs TD
{ 
   font-size        : x-small;
   font-weight      : bold;
   text-decoration  : none;
   border-bottom    : 2px solid #2F6A44 !important;
}



/* Commented Backslash Hack hides rule from IE5-Mac \*/
DIV.tabs SPAN {float : none;}
/* End IE5-Mac hack */

DIV.tabs A:hover SPAN
{
	background-color: #2F6A44 !important;
	color: #F0FFF0 !important;
}

DIV.tabs LI#current A
{
   background-position: 100% -150px;
   border-width     : 0px;
}

DIV.tabs LI#current SPAN
{
   background-position: 0% -150px;
   padding-bottom   : 6px;
   color:maroon;
}

DIV.nav
{
   background       : none;
   border           : none;
}

div.title_links { text-align: left }

/* for the tree view */
.ftvtree {
	font-family: sans-serif;
	margin:0.5em;
}
.directory { font-size: 9pt; font-weight: bold; }
.directory h3 { margin: 0px; margin-top: 1em; font-size: 11pt; }
.directory > h3 { margin-top: 0; }
.directory p { margin: 0px; white-space: nowrap; }
.directory div { display: none; margin: 0px; }
.directory img { vertical-align: -30%; }

/*==========================*/ 
/* Tabs list on top of page 
/*==========================*/ 

.tabsList
{
	padding: 3px 0px 4px 0px;
	white-space: nowrap;
	margin: 15px;
}
.tabsList a:hover{
	background-color: #2F6A44;
	color: #F0FFF0 !important;
}

.tabsList a:visited{
	color: #2F6A44;
}

.tabsList ul span.divider
{
	display: none;
}
* html .TABSLIST
{
	padding: 0;	
}
.tabsList ul
{
	text-align: center;
	list-style-type: none;
	line-height: normal;
	margin: 0;
	padding-left: 10px;
}

.tabsList ul li
{
	display: inline;
	white-space: nowrap;
	margin: 0;
}
.tabsList ul li a, .tabsList ul li a:link, .tabsList ul li a:visited, .tabsList ul li a:active, .tabsList ul li a:hover
{
	margin: 0 -1px 0 0;
	padding: 3px 10px 4px 10px;
	border-left: solid 0px #000;
	cursor: pointer;
}

.tabsList ul li a, .tabsList ul li a:link, .tabsList ul li a:visited, .tabsList ul li a:active, .tabsList ul li a:hover
{
	text-decoration: none;
}

/** Left vertical menus for Home Page **/
.sidenotes {

	margin: -10px 0 15px 0;

}

.sidenotes ul {

	margin: 0;

	padding: 0;
 
	list-style-type: none;

	display: block;

}

.sidenotes ul a {

	border: none;

	color: #666666;

	display: block;

}

.sidenotes ul a:hover {

	color: #000000;

}

.sidenotes ul li {

	padding: 8px 5px 10px 5px;

	border-bottom: #DDDDDD solid 1px;

}

.sidenotes ul li .title {

	color: #333333;

	font-weight: bold;

	display: block;

}

.sidenotes ul li .date {

	color: #999999;

	font-size: 10px;

	display: block;

}

.sidenotes ul li .more {

	margin: -5px 0;

	font-size: 10px;

	text-align: right;

	display: block;

}

.sidenotes ul li .more a {

	color: #333333;

	display: inline;

}

.sidenotes ul li .more a:hover {

	color: #FF9900;

}

.sidenotes ul li .more a img {

	padding-left: 3px;

	vertical-align: baseline;

}


/** Left vertical menus for Home Page - Enlighted **/
.enlight {

	margin: -10px 0 15px 0;

}

.enlight ul {

	margin: 0;

	padding: 0;
 
	list-style-type: none;

	display: block;

}

.enlight ul a {

	text-decoration: blink;	
	
	border: none;

	color: red;

	display: block;

}

.enlight ul a:hover {

	color: #000000;

}

.enlight ul li {

	padding: 8px 5px 10px 5px;

	border-bottom: #DDDDDD solid 1px;

}

.enlight ul li .title {

	color: #333333;

	font-weight: bold;

	display: block;

}

.enlight ul li .date {

	color: #999999;

	font-size: 10px;

	display: block;

}

.enlight ul li .more {

	margin: -5px 0;

	font-size: 10px;

	text-align: right;

	display: block;

}

.enlight ul li .more a {

	color: #333333;

	display: inline;

}

.enlight ul li .more a:hover {

	color: #FF9900;

}

.enlight ul li .more a img {

	padding-left: 3px;

	vertical-align: baseline;

}
#side {

	padding: 10px;

	width:15%;

	background-color: transparent;

	line-height: 18px;

	float: left;

}

#side .side_title {

	margin-bottom: 10px;

	padding: 0 0 5px 5px;

	border-bottom: #DDDDDD solid 1px;

	color: #333333;

	font-size: 20px;

	display: block;

}


#menu {

	margin: -10px -10px 15px -10px;

	padding: 10px;

	line-height: normal;

}

#menu ul {

	margin: 0;

	padding: 0;

	border-bottom: #DDDDDD solid 1px;

	list-style-type: none;

}

#menu ul li {

	border-top: #DDDDDD solid 1px;
	padding-right: 10px;

}

#menu ul li a {

	width: 100%;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

	border: none;

	color: #666666;

	text-decoration: none;

	display: block;

}

#menu ul li a:hover {

	background-color:#2F6A44; ;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

	color: #F0FFF0;

}

#menu .pressed {

	width: 100%;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	
	background-color: #F3F3F3;

	color: #000000;

	display: block;

}

#content {

	margin: 0 0 0 15px;

	width: 80%;

	line-height: 18px;

	float: left;

}

.logoleft
{
 position: absolute;
 top: 55px;
 left:35px;
}

.logoright
{
 position: absolute;
 top: 55px;
 right:35px;
}

.horizontalline
{
 border-bottom:1px solid #2F6A44;
}