*~
.siconos
build-clang
build-gcc
build-clang-debug
build-gcc-debug
/soa/log
/soa/pytest.hdf5
/soa/build-clang-debug-siconos/
/soa/build-clang-release-siconos/
/soa/build-clang-release/
/soa/build-clang-relwithdebinfo-siconos/
/soa/build-gcc-debug-siconos/
/soa/build-gcc-release/
/soa/build-gcc-relwithdebinfo-siconos/
/soa/check.json
s
/soa/cmake_install.cmake
/soa/compile_commands.json
/compile_commands.json
/GPATH
/GRTAGS
/GTAGS
/.cache/
/soa/.babel-check-nonos-compilation-script
/soa/.babel-cppyy-check-compilation-script
/soa/.babel-install-nonos-compilation-script
/soa/.babel-install-pybind11-example-compilation-script
/soa/.babel-test-nonos-0-compilation-script
/soa/.babel-test-nonos-compilation-script
/soa/.babel-test-nonos-valgrind-compilation-script
/soa/.cache/
/soa/.guix-channels.scm
/soa/.ob-jupyter/
