/* $Id: print.css,v 1.3 2003/06/24 22:53:48 jrobbins Exp $

This file contains CSS sytle rules that make the document look more
presentable when printed.  E.g., one cannot follow hyperlinks to
definitions on a printed page, so the dashed underlines are removed.

*/

h3, h4 {
 font-size: x-small;
}

body, textarea, pre, code {
 font-size: xx-small;
}

small, div.tabs th, div.tabs td, input, select {
 font-size: xx-small;
}

table {
 font-size: xx-small;
}

.sticky, .footnote {
 display: none;
}

a.def { 
 text-decoration: none; 
 border-bottom: none; 
 color: black;
}