scipy
lxml
pytest
matplotlib
h5py
sphinx
sphinx-rtd-theme
sphinxcontrib-autodoc-doxygen
sphinxcontrib-bibtex
sphinxcontrib-pandoc-markdown
sphinxcontrib-versioning
sphinxcontrib-websupport
breathe
exhale
