scipy
lxml
pytest
matplotlib
h5py
sphinx
sphinx-rtd-theme
sphinxcontrib-bibtex
sphinxcontrib-pandoc-markdown
sphinxcontrib-versioning
sphinxcontrib-websupport
sphinxbootstrap4theme
sphinx-bootstrap-theme
napoleon
numpydoc
breathe

